<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
{% for message in messages %}
  <h3>{{message}}</h3>
{% endfor %}
    <h1>Login here</h1>

    <form action="signin" method="POST">
    {% csrf_token %}
        <input type="text" name="uname" placeholder="Username"><br>
        <input type="password" name="pwd" placeholder="Password"><br>
        <input type="submit">

    </form>

</body>
</html>