<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker Profile</title>
</head>
<body>
<h1>Maker Profile</h1>
    <form action="">

        <input type="text" name="" placeholder="Maker Name"><br>
        <input type="text" name="" placeholder="Email"><br>
        <input type="text" name="" placeholder="Address"><br>
        <textarea name="about" placeholder="About" cols="25" rows="5"></textarea><br>
        <input type="mobile" name="" placeholder="mobile phone"><br>
        <input type="submit">

    </form>
</body>
</html>